.auc-auction-container{position: relative; min-height: 120px; border-bottom: 1px solid #ccc; padding-bottom: 20px; margin-bottom: 20px;}
.auc-auction-container .loading-mask {background: rgba(255, 255, 255, 0.5);bottom: 0;left: 0; margin: auto;position: absolute;right: 0;top: 0;z-index: 100;}
.auc-auction-container .modals-overlay{display: none; z-index: 899;}
.auc-auction-container .modals-overlay._show{display: block;}
.auc-auction-container .auc-modal-popup{z-index: 900}

.auc-auction-clock{display: block; background: #eee; margin: 0 auto; text-align: center; padding: 20px 0; width: 100%;}
.auc-auction-clock:after{clear: both; content: ""; display: block;}
.auc-day,
.auc-hour,
.auc-minute,
.auc-second,
.auc-separater{display: inline-block; margin: 0;}
.auc-auction{display: none;}
.auc-auction.active{display: block;}
.auc-auction .auc-number{background: #222; color: #FFF; display: inline-block; font-size: 40px; width: 65px; height: 70px; line-height: 70px; text-align: center; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
.auc-auction .auc-label{color: #888;}
.auc-auction .auc-separater .auc-number{background: none; color: #888; width: 19px;}
.auc-auction-info{margin-top: 30px;}
.auc-auction-info ul, .auc-auction-info li{list-style: none; margin: 0; padding: 0;}
.auc-auction-info .auc-info-row {border-bottom: 1px dashed #ccc;padding: 5px 0; clear: both;}
.auc-auction-info .auc-info-row.auc-no-border{border: 0 none;}
.auc-auction-info .auc-info-row.auc-auction-clock-container {margin-bottom: 10px;}
.auc-auction-info .auc-info-row > label{display: inline-block; width: 200px; float: left;}
.auc-auction-info .auc-winning-price > label,
.auc-auction-info .auc-winning-price .price{font-size: 2.5rem; font-weight: bold;}

.auc-bidder{font-weight: bold;}
.auc-auction-info input.auc-bid-value{width: 60px; float: left; margin-right: 10px;}
.auc-data{display: inline; padding: 5px 10px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
button.auc-place-bid{float: left; width: calc(100% - 70px); max-width: 155px;}
.auc-messages{display: none;}
.auc-modal-popup.modal-popup .modal-inner-wrap{max-width: 600px;}
.auc-bid-form{position: relative;}
.auc-bid-form-mask{position: absolute; width: 100%; height: 100%; top: 0; left: 0; z-index: 9; background: #eee; opacity: 0.9; text-align: center;}
.auc-bid-form-msg {color: #222; display: block; text-align: center; padding-top: 20px;}
.auc-bid-form-msg{display: block; z-index: 10;}
.auc-autobid-container{padding: 5px 0;}
.auc-autobid-container:after{display: table; content: ""; clear: both;}
.auc-autobid-container label{float: left; margin-left: 10px;}
.auc-autobid-checkbox{float: left;}
.auc-bid-note{color: #666; font-style: italic; clear: both;}
.auc-bid-loader{float: left; padding: 6px 0; margin-left: 10px;}
.auc-bid-history{display: none !important;}
.auc-auto-bid-ico{background-color: #dd4b39; border-radius: 3px; -moz-border-radius: 3px;-webkit-border-radius: 3px; color: #fff; font-size: 70%; padding: 0.2em 0.6em 0.2em; float: right;}

.auc-list-container{margin-bottom: 30px;}
.auc-list-container .auc-list-top,
.auc-list-container .auc-list-bottom{margin-top: 30px;}
.auc-list-container .auc-auction-container{border-bottom: 0 none;}
.auc-list-container .auc-auction-clock{width: 100%; padding: 20px 0;}
.auc-list-container .auc-auction .auc-number{font-size: 26px; height: 40px; line-height: 40px; width: 40px;}
.auc-list-container .auc-auction .auc-separater .auc-number{width: 12px;}
.auc-list-container .auc-auction .auc-label{font-size: 10px;}
.auc-list-container .auc-auction-info input.auc-bid-value{width: 60px;}
.auc-list-container .auc-auction-info .auc-info-row{padding: 10px 0;}
.auc-list-container .auc-auction-info .auc-info-row > label{width: 100px;}
.auc-list-container .auc-bid-form-msg{padding-bottom: 20px; padding-top: 10px;}
.auc-list-container .auc-auction-container .loading-mask{border: 1px solid #f9f9f9;}
.auc-list-container .auc-info-row h2{font-size: 2.3rem; text-align: center;}

.auc-list-container .products-list .auc-product-info{float: left; width: 60%;}
.auc-list-container .products-list .auc-auction-container{float: left; width: calc(40% - 10px); margin-left: 10px;}
.auc-list-container .products-list .auc-auction-info{margin: 0;}
.auc-block-title{border-bottom: 1px solid #ccc; padding: 10px 0; margin-bottom: 10px;}
.auc-block-title:after{clear: both; content: ""; display: table;}
.auc-block-title h2{float: left; margin: 0; font-size: 2.6rem;}
.auc-block-title .auc-viewall-link{float: right; margin-top: 10px;}

.auc-info-container{padding: 0 10px;}

@media screen and (max-width: 1199px) {
	.auc-list-container .products-list .auc-product-info{width: 100%;}
	.auc-list-container .products-list .auc-auction-container{width: 100%; margin-left: 0; margin-top: 20px;}
	.auc-list-container .auc-auction .auc-number{width: 35px; font-size: 23px;}
}

@media screen and (max-width: 767px) {
	.auc-list-container .auc-auction .auc-number{width: 40px; font-size: 26px;}
}


@media screen and (max-width: 548px) {
	.auc-list-container .auc-auction .auc-number{width: 35px; font-size: 23px;}
}

@media screen and (max-width: 480px) {
	.auc-list-container .auc-auction .auc-number{width: 40px; font-size: 26px;}
}


@media screen and (max-width: 390px) {
	.auc-auction-info .auc-info-row > label{width: 110px;}
	.auc-auction .auc-number{font-size: 29px; width: 50px; height: 50px; line-height: 49px;}
}