.vendor-home-auctions:after{display: table; content: ""; clear: both;}
.auc-block-title h3{margin: 0; float: left;}
.auc-block-title a.auc-viewall-link{margin: 0;}
.auc-list-container .products.products-grid .item{float: left; padding-left: 15px; padding-right: 15px;}