<?php
// @codingStandardsIgnoreFile
/** @var  $block \Vnecoms\Quotation\Block\Quote\AddToQuote */
?>
<?php if(!$block->isEnabledAddToCart()):?>
<script type="text/javascript">
document.getElementById('product-addtocart-button').remove();
</script>
<?php endif;?>
<?php if($block->isEnabledAddToQuote()):?>
<?php
$buttonTitle = __('Add to Quote');

$product = $block->getProduct();
$urlParamName = \Magento\Framework\App\ActionInterface::PARAM_NAME_URL_ENCODED;
$routeParams = [
    $urlParamName => $block->getContinueUrl(),
    'product' => $product->getEntityId(),
    '_secure' => false
];

?>
<div class="quote-actions">
    <button type="button"
            title="<?php /* @escapeNotVerified */ echo $buttonTitle ?>"
            class="action primary toquote"
            id="product-addtoquote-button">
        <span><?php /* @escapeNotVerified */ echo $buttonTitle ?></span>
    </button>
</div>
<script>
    
    require([
        'jquery',
        'uiRegistry',
        'mage/translate',
        'Magento_Ui/js/modal/alert',
        'mage/mage'
    ], function($, registry, $t, alert) {
        'use strict';
        <?php if($block->isEnabledAddToCart()):?>
        $('body').addClass('can-add-to-quote');
        <?php endif;?>
        $('#product-addtoquote-button').click(function (e) {
        	submitQuoteForm($(this));
        });
        function submitQuoteForm(button){
        	var form = $('#product_addtocart_form');
            form.validation();
            if(!form.validation('isValid')) return;

            var quotation = registry.get('quote_content');
            if(quotation){
         	   quotation.isLoading(true);
            }
        	
        	button.attr('disabled','disabled');
    		button.find('span').html('<?php echo __("Adding ...");?>');
    		
        	
            var formData = {};
            var inputs = form.serializeArray();
            $.each(inputs, function (i, input) {
            	formData[input.name] = input.value;
            });
			
            var action = form.attr('action').replace("checkout/cart/add", "quotation/quote/add");
            $.ajax({
                url: action,
                method: "POST",
                data: formData,
                dataType: "json",
                beforeSend: function (){
                }
            }).done(function( response ){
            	if(response.error){
                	alert({
            			title: $t('Error'),
            			content: response.message,
            		});
                }else{
                    if(window != window.parent){
                    	window.parent.vesQuotation.refreshQuote();
                    	window.parent.ajaxCart._closeModalSelf();
                    }
                	button.find('span').html('<?php echo __("Added");?>');
                }
                setTimeout(function(){
            		button.find('span').html('<?php echo __("Add to Quote");?>');
            		button.removeAttr('disabled');
            		button.removeClass('disabled');
            	}, 1000);
            });
        }
    });
</script>
<?php endif;?>