<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Category view template
 *
 * @var $block \Vnecoms\Auction\Block\Auction
 */
?>
<div id="auction-list-container" class="auc-list-container" data-bind="scope: 'auction'">

<!-- ko template: getBidderNameFormTpl() --><!-- /ko -->

<!-- ko template: getLoginFormTpl() --><!-- /ko -->
    
<?php echo $block->getChildHtml() ?>
<div data-bind="afterRender: function(){jQuery(document).trigger('afterAjaxLazyLoad');}"></div>
</div>
<script type="text/x-magento-init">
    {
        "#auction-list-container": {
            "Magento_Ui/js/core/app": <?php /* @escapeNotVerified */ echo $block->getJsLayout();?>
        }
    }
</script>