.vacation-overlay{
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.7;
  z-index: 99998;
}
.vacation-container{ background: #EF796B; color: #FFF; margin-bottom: 10px;}
.vacation-content{padding: 15px;}
/*
.vacation-container{display: block; width: 400px; min-height: 150px; background: #FFF;z-index: 99999;position: fixed; left: 50%; margin-left: -200px; top: 50%; margin-top: -200px;padding: 20px;}
.vacation-close{position: absolute; right: 10px; top: 10px; cursor: pointer; border: 1px solid #d3d3d3; border-radius: 20px; width: 20px; height: 20px; text-align: center;line-height: 17px; font-family: "Arial"; color: #888;}
.vacation-title{font-size: 30px; margin-bottom: 10px;}
.vacation-content{color: #555;}
*/
