@font-face {
    font-family: 'vendor-page';
    src:    url('../fonts/vendor-page.eot?gku4r6');
    src:    url('../fonts/vendor-page.eot?gku4r6#iefix') format('embedded-opentype'),
        url('../fonts/vendor-page.ttf?gku4r6') format('truetype'),
        url('../fonts/vendor-page.woff?gku4r6') format('woff'),
        url('../fonts/vendor-page.svg?gku4r6#vendor-page') format('svg');
    font-weight: normal;
    font-style: normal;
}

.vendor-home-banner,
.vendor-profile-wrapper .vendor-profile-container,
.vendor-menu .vendor-nav-container
{
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

.vendor-profile-wrapper{
    background: #f5f5f5;
    margin-bottom: 30px;
}
.vendor-home-page .vendor-profile-wrapper{
    background: #FFF;
}
.vendor-home-page .page-main{padding: 0;}
.vendor-home-page .nav-sections {
    box-shadow: 0 3px 3px 0 #d3d3d3;
    -moz-box-shadow: 0 3px 3px 0 #d3d3d3;
    -webkit-box-shadow: 0 3px 3px 0 #d3d3d3;
    margin-bottom: 0;
    z-index: 1;
}

.vendor-page .vendor-profile-logo{
    width: 20.6667%;
}

.vendor-page .vendor-profile-top img{
    width: 100%;
}

.vendor-page  .vendor-profile-description{
    width: 79.3333%;
}


.vendor-page .vendor-profile-container{
    background: none;
}
.vendor-page .profile-sidebar .vendor-profile-logo{
    width: auto;
    float: none;
    margin-bottom: 20px;
}
.vendor-page .profile-sidebar .vendor-profile-logo img{
    border: 3px solid #d2d6de;
    margin: 0 auto;
    padding: 3px;
    border-radius: 50%;
}

.vendor-page .profile-sidebar .vendor-profile-description{
    width: auto;
    float: none;
    padding: 0;
    margin: 0 10px;
}

.vendor-page .profile-sidebar{
    width: auto;
    padding: 20px 10px;
    background: none;
    border: 1px solid #efefef;
}

.vendor-page .profile-sidebar h3.vendor-title,
.vendor-page .profile-sidebar .vendor-headline{
    text-align: center;
}
.vendor-page .profile-sidebar .vendor-headline{
    margin-bottom: 30px;
    display: block;
}

/*Vendor Menu*/
.vendor-menu-wrapper{
    min-height: 60px;
    margin-bottom: 30px;
    display: block;
    clear: both;
}
.vendor-menu{
    background-color: #F5F5F1;
}

.vendor-menu:after {
    clear: both;
    content: "";
    display: table;
}


.vendor-menu ul, .vendor-menu li{
    list-style: none;
    margin: 0;
    padding: 0;
}

.vendor-menu li{
    display: inline-block;
}
.vendor-menu li > a{
    padding: 18px;
    display: block;
    color: #888;
    text-decoration: none;
}
.vendor-menu li > a:hover{
    color: #222A31;
    text-decoration: none;
}

.vendor-menu.fixed{
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    box-shadow:0 0 3px rgba(0, 0, 0, 0.4);
}

.menu-logo-container{
    position: absolute;
    width: auto;
    height: 100%;
    display: none;
    width: 75px;
    margin-left: -75px;
}
.menu-logo-container img{width: auto; height: 100%; float: right;}
.vendor-menu.fixed .menu-logo-container{
    display: block;
}
.vendor-menu.fixed li > a.selected{
    border-bottom: 4px solid #f56400;
}

/*Vendor Banner*/
.vendor-home-banner{
  text-align: center;
  max-width: 100%;
  padding: 0;
}

/*Socials*/
.vendor-social-container{
    display: block;
}

.vendor-social-container a.vendor-social-icon{
    display: inline-block;
    margin-right: 2px;
    text-decoration: none;
    color: #888;
    font-size: 25px;
}


.vendor-social-container a.vendor-social-icon:before,
.vendor-scroll-top-btn:before{
    font-family: 'vendor-page' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.vendor-social-container a.vendor-social-icon:hover{
    text-decoration: none;
    color: #555;
}
.vendor-social-container a.web:before{
    content: "\f0ac";
}
.vendor-social-container a.facebook:before{
    content: "\f082";
}
.vendor-social-container a.twitter:before{
    content: "\f081";
}
.vendor-social-container a.instagram:before{
    content: "\f16d";
}
.vendor-social-container a.google_plus:before{
    content: "\f0d4";
}
.vendor-social-container a.youtube:before{
    content: "\f166";
}

.vendor-social-container a.pinterest:before{
    content: "\f0d3";
}

.vendor-social-container a.vimeo:before{
    content: "\f194";
}

.vendor-social-container .vendor-social-icon span{
    display: none;
}



.vendor-home-items,
.vendor-home-about,
.vendor-home-shipping{
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #efefef;
}

.vendor-home-items:after,
.vendor-home-about:after,
.vendor-home-shipping:after,
.vendor-home-refund:after{
	display: table;
	clear: both;
	content: "";
}

.toolbar-products .view-all-items {
    display: none;
}

.vendor-home-items .toolbar-bottom .toolbar-products .view-all-items {
    display: block;
    text-align: center;
}
.vendor-home-items .toolbar-bottom .toolbar{border: 0 none;}

.vendor-home-items .toolbar-bottom .toolbar-products .modes,
.vendor-home-items .toolbar-bottom .toolbar-products .sorter
{display: none;}

.scroll-to-top-container{
    position: fixed;
    display: none;
    right: 18px;
    bottom: 18px;
    z-index: 70;
}
.scroll-to-top-container.show{
    display: block;
}

.vendor-scroll-top-btn span{
    display: none;
}
.scroll-to-top-container .vendor-scroll-top-btn{
    font-size: 30px;
    text-decoration: none;
    color: #1979c3;
}

.scroll-to-top-container .vendor-scroll-top-btn:hover{
    text-decoration: none;
    color: #006bb4;
}

.vendor-scroll-top-btn:before{
    content: "\e900";
}

@media screen and (max-width: 800px) {
  .vendor-menu .vendor-nav-container{padding: 0;}
}

@media screen and (max-width: 600px) {
  .vendor-menu-wrapper{display: none;}
  .vendor-menu .vendor-nav-container{padding: 0;}
}

@media screen and (max-width: 480px) {
  .vendor-page .vendor-profile-logo{width: 100%; text-align: center;}
  .vendor-page .vendor-profile-description{width: 100%; text-align: center;}
  .vendor-page .vendor-profile-top img{max-width: 200px;}
  .vnecoms-msg-btn{display: inline-block;}
}