
<?php if ($block->getCollection()->getSize()): ?>

    <?php if ($block->getUseContainer()): ?>
        <div class="toolbar">
    <?php endif ?>

    <?php if ($block->getShowAmounts()): ?>
        <p class="toolbar-amount">
            <span class="toolbar-number">
            <?php if ($block->getLastPageNum()>1): ?>
                <?php /* @escapeNotVerified */ echo __('Items %1 to %2 of %3 total', $block->getFirstNum(), $block->getLastNum(), $block->getTotalNum()) ?>
            <?php elseif ($block->getTotalNum() == 1): ?>
                <?php /* @escapeNotVerified */ echo __('%1 Item', $block->getTotalNum()) ?>
            <?php else: ?>
                <?php /* @escapeNotVerified */ echo __('%1 Item(s)', $block->getTotalNum()) ?>
            <?php endif; ?>
            </span>
        </p>
    <?php endif ?>

    <?php if ($block->getLastPageNum()>1): ?>
        <div class="pages">
            <strong class="label pages-label" id="paging-label"><?php /* @escapeNotVerified */ echo __('Page') ?></strong>
            <ul class="items pages-items" aria-labelledby="paging-label">
                <?php if ($block->canShowFirst()): ?>
                    <li class="item">
                        <a class="page first" href="javascript:void(0)" onclick="load_ajax('<?php echo $block->getRequest()->getParam('id')?>',<?php echo 1?>,'<?php echo $block->getRequest()->getParam('q')?>','<?php echo $block->getRequest()->getParam('tag_id')?>')">
                            <span class="label"><?php /* @escapeNotVerified */ echo __('Page') ?></span>
                            <span>1</span>
                        </a>
                    </li>
                <?php endif;?>

                <?php if ($block->canShowPreviousJump()): ?>
                    <li class="item">
                        <a class="page previous jump" title="" href="javascript:void(0)" onclick="load_ajax('<?php echo $block->getRequest()->getParam('id')?>',<?php echo $block->getPreviousJumpPage()?>,'<?php echo $block->getRequest()->getParam('q')?>','<?php echo $block->getRequest()->getParam('tag_id')?>')">
                            <span>...</span>
                        </a>
                    </li>
                <?php endif;?>

                <?php foreach ($block->getFramePages() as $_page): ?>
                    <?php if ($block->isPageCurrent($_page)): ?>
                        <li class="item current">
                            <strong class="page">
                                <span class="label"><?php /* @escapeNotVerified */ echo __('You\'re currently reading page') ?></span>
                                <span><?php /* @escapeNotVerified */ echo $_page ?></span>
                            </strong>
                        </li>
                    <?php else: ?>
                        <li class="item">
                            <a href="javascript:void(0)" onclick="load_ajax('<?php echo $block->getRequest()->getParam('id')?>',<?php echo $_page?>,'<?php echo $block->getRequest()->getParam('q')?>','<?php echo $block->getRequest()->getParam('tag_id')?>')" class="page" >
                                <span class="label"><?php /* @escapeNotVerified */ echo __('Page') ?></span>
                                <span><?php /* @escapeNotVerified */ echo $_page ?></span>
                            </a>
                        </li>
                    <?php endif;?>
                <?php endforeach;?>

                <?php if ($block->canShowNextJump()): ?>
                    <li class="item">
                        <a class="page next jump" title="" href="javascript:void(0)" onclick="load_ajax('<?php echo $block->getRequest()->getParam('id')?>',<?php echo $block->getNextJumpPage()?>,'<?php echo $block->getRequest()->getParam('q')?>','<?php echo $block->getRequest()->getParam('tag_id')?>')">
                            <span>...</span>
                        </a>
                    </li>
                <?php endif;?>

                <?php if ($block->canShowLast()): ?>
                    <li class="item">
                        <a class="page last" href="javascript:void(0)" onclick="load_ajax('<?php echo $block->getRequest()->getParam('id')?>',<?php echo $block->getLastPage()?>,'<?php echo $block->getRequest()->getParam('q')?>','<?php echo $block->getRequest()->getParam('tag_id')?>')">
                            <span class="label"><?php /* @escapeNotVerified */ echo __('Page') ?></span>
                            <span><?php /* @escapeNotVerified */ echo $block->getLastPageNum() ?></span>
                        </a>
                    </li>
                <?php endif;?>
            </ul>
        </div>
    <?php endif; ?>

    <?php if ($block->getUseContainer()): ?>
        </div>
    <?php endif ?>

<?php endif ?>
