/** Common miniquote **/
.quotation-wrapper{position: absolute; top: 0px; left: -50px;}
.footer-rtl-style .quotation-wrapper{left: auto; right: 5px;}
.quotation-wrapper .mage-dropdown-dialog{margin-top: 0px;padding: 0px!important;}

.quotation-wrapper .action.showquote{text-decoration: none; color: #757575;}
.quotation-wrapper .action.showquote:hover{color: #333333;}
.quotation-wrapper .action.showquote:before {
    display: inline-block;
    font-size: 23px;
    line-height: 31px;
    margin: 0;
    font-weight: normal;
    vertical-align: top;
    overflow: hidden;
    text-align: center;
    content: "\e922"!important;
    font-family: 'vnecoms-quote' !important;
    font-size: 19px;
}

.quotation-wrapper .block-quote .block-title {
    display: none;
}

.quotation-wrapper .action.showquote .text,
.quotation-wrapper .action.showquote .counter-label {
	display: none!important;
    border: 0;
    height: 1px!important;
    margin: -1px!important;
    overflow: hidden;
    padding: 0!important;
    position: absolute!important;
    width: 1px!important;
}

.quotation-wrapper .action.showquote .counter.qty {
    background: #ffa201;
    border-radius: 2px;
    color: #ffffff;
    display: inline-block;
    height: 24px;
    min-width: 18px;
    margin: 3px 0 0 2px;
    overflow: hidden;
    padding: 0 3px;
    line-height: 24px;
    text-align: center;
}

.quotation-wrapper .action.showquote .counter.qty.empty {
    display: none;
}
.quotation-wrapper .action.close{color: #757575;}
.quotation-wrapper .action.close:hover{color: #333333;}
.quotation-wrapper .action.close:before {
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    line-height: 16px;
    content: '\ea0f';
    font-family: 'vnecoms-quote';
    margin: 0;
    vertical-align: top;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
}

.quotation-wrapper .action.close > span {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* _____ Mini Quote CONTENT  ______ */
.block-quote .quote-items-wrapper {
    border: 1px solid #cccccc;
    margin: 0 -20px;
    border-left: 0;
    border-right: 0;
    overflow-y: auto;
    padding: 15px;
    height: auto !important;
	max-height: 784px;
}
.details-qty .quote-item-qty {
    text-align: center;
    width: 40px;
}
.quote-items {
    margin: 0;
    padding: 0;
    list-style: none;
    height: auto;
}

.quote-items .product-item:first-child {
    padding-top: 0;
}

.quotation-wrapper .block-quote li {
    margin: 0;
    border-bottom: 1px solid #ccc;
}

.quotation-wrapper .block-quote li:hover {
    cursor: pointer;
}

.quotation-wrapper .block-quote li:last-child {
    border: 0;
}

.block-quote .action.request-quote {
    line-height: 3.3rem;
    border-radius: 3px;
    padding: 14px 17px;
    font-size: 1.8rem;
}

.quote-items .product-item {
    padding: 20px 0;
}

.quote-items .product > .product-item-photo,
.quote-items .product > .product-image-container {
    float: left;
}

.quote-items .product-item-details {
    padding-left: 88px;
    position: relative;
}

.quote-items .product-item-name {
    font-weight: 400;
    margin: 0  0 10px 0;
}

.quote-items .product-item-name a {
    color: inherit;
}


.block-quote .subtitle {
    display: none;
}

.block-quote .subtitle.empty {
    display: block;
    font-size: 14px;
    padding: 30px 0 20px;
    text-align: center;
}

.quotation-wrapper .block-quote {
    background: #ffffff;
    border: 1px solid #bbbbbb;
    box-shadow: 0 3px 3px rgba(0,0,0,0.15);
    box-sizing: border-box;
    display: none;
    margin-top: 4px;
    padding: 25px 20px;
    list-style: none;
    right: 0;
    width: 320px;
    z-index: 99;
}

.quotation-wrapper .block-quote {width: 390px; right: 5px;}

.quotation-wrapper.active .block-quote {
    display: block;
    position: absolute;
}


.quotation-wrapper .action.close {
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    background-image: none;
    background: none;
    -moz-box-sizing: content-box;
    border: 0;
    box-shadow: none;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-shadow: none;
    font-weight: 400;
    display: inline-block;
    text-decoration: none;
}

.block-quote .items-total {
    margin: 0 10px;
}

.block-quote .items-total .count{
    font-weight: 700;
}

/*.block-quote .subtotal {
    float: right;
    margin: 0 10px;
}*/

.quote-items .price-container .price {
    font-weight: 700;
}

.quote-items .product .toggle {
    display: block;
    position: relative;
    cursor: pointer;
    margin-bottom: 0;
    padding: 0 30px 5px 0;
    text-decoration: none;
}


.quote-items .product .toggle:after{
    content: "\f107";
    font-size: 22px;
    color: #8f8f8f;
    display: inline-block;
    font-family: 'vnecoms-quote';
    overflow: hidden;
    margin: 0 0 0 5px;
    text-align: center;
    position: static;
    speak: none;
    vertical-align: middle;
    font-weight: normal;
}

.quote-items .product.active .toggle:after{
    content: "\f106";
	margin-top: -1px;
}

.quote-items .product-item-pricing .label {
    display: inline-block;
    width: 4.5rem;
}

.quote-items .actions {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
}
.block-quote .block-content .actions {
    margin-top: 15px;
    text-align: center;
}

.quote-items .actions .primary {
    float: left;
}

.quote-items .actions .secondary {
    float: right;
}

.block-quote .block-content > .actions > .primary {
    margin: 0 10px 15px;
}

.block-quote .block-content > .actions > .primary .action.primary {
    display: block;
    width: 100%;
}

/** trianglar shape **/
.quotation-wrapper .block-quote:before,
.quotation-wrapper .block-quote:after {
    border-bottom-style: solid;
    content: '';
    display: block;
    height: 0;
    position: absolute;
    width: 0;
}

.quotation-wrapper .block-quote:before {
    left: auto;
    right: 26px;
    border: 6px solid;
    border-color: transparent transparent #ffffff transparent;
    z-index: 99;
}

.quotation-wrapper .block-quote:after {
    left: auto;
    top: -14px;
    right: 25px;
}

.quotation-wrapper .block-quote:before {
    top: -12px;
    left: auto;
    right: 26px;
}

.quotation-wrapper .block-quote:after {
    border: 7px solid;
    border-color: transparent transparent #bbbbbb transparent;
    z-index: 98;
}


.quote-items .action.delete, .quote-items .action.edit {color: #757575; text-decoration: none; font-size: 20px;}
.quote-items .action.delete:hover, .quote-items .action.edit:hover{color: #333333;}

.quote-items .action.edit > span, .quote-items .action.delete > span {
    width: 1px;
    height: 1px;
    position: absolute;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    border: 0;
    clip: rect(0, 0, 0, 0);
}



body .header-container .header-middle .middle-right-content .minicart-header,
body .header-style-3 .header-middle .middle-right-content .minicart-header,
body .header-style-5 .header-middle .minicart-header,
body .header-style-6 .header-middle .middle-right-content .minicart-header,
body .header-style-7 .header-middle .middle-right-content .minicart-header{padding-left: 50px;}
body .header-style-19 .header-middle .middle-right-content .minicart-header{padding-left: 63px;}
body .header-style-2 .header-middle .middle-right-content .minicart-header{padding-left: 35px;}
body .header-style-20 .header-middle .middle-right-content .minicart-header{padding-left: 57px;}

body .header-container .header-middle .minicart-header {
    position: relative;
}

body .header-container .header-middle .minicart-header .minicart-wrapper{
    padding-left: 60px!important;
}

.header-1-style .header-container .minicart-wrapper .showquote:after{
    content: "\e922";
    font-family: 'vnecoms-quote' !important;
    font-size: 19px;
}

body.footer-rtl-style .header-container .header-middle .middle-right-content .minicart-header{padding-left: 0; padding-right: 50px;}
body .header-style-4 .header-bottom .minicart-header{padding-left: 50px;}
body .header-container .header-middle .middle-right-content .minicart-header .quotation-wrapper .showquote:before,
body .header-container .header-bottom .minicart-header .quotation-wrapper .showcart:before,
body .header-container .header-middle .minicart-header .quotation-wrapper .showcart:before,
body .header-container .header-middle .minicart-header .quotation-wrapper .showquote:after,
body .header-container .header-wrapper .right-content .minicart-header .quotation-wrapper .showcart:after,
body .header-container .header-top .minicart-header .quotation-wrapper .showcart:before,
body .header-container .header-middle .middle-right-content .minicart-header .quotation-wrapper .showcart:before{
	content: "\e922"!important;
	font-family: 'vnecoms-quote' !important;
	font-size: 19px!important;
}
body .header-style-19 .header-middle .middle-right-content .minicart-header .quotation-wrapper .showcart:before{font-size: 25px;}
body .header-style-18 .customer-action .quotation-wrapper .showcart{background-position: -284px -384px;}

body .header-style-4 .header-bottom .minicart-header .quotation-wrapper .showcart:before{left: 11px; top: 8px;}

body .header-container .header-middle .middle-right-content .minicart-header .quotation-wrapper .showcart .counter,
body .header-style-4 .header-bottom .minicart-header .quotation-wrapper .showcart .counter,
body .header-container .header-middle .minicart-header .quotation-wrapper .showcart .counter,
body .header-style-19 .header-middle .middle-right-content .minicart-header .quotation-wrapper .showcart .counter{text-align: center; display: block!important; position: absolute; top: -8px; right: 3px;width: 20px; height: 20px; background: #00B46A !important; color: #FFF !important; line-height: 20px; border-radius: 50%;-moz-border-radius: 50%;-webkit-border-radius: 50%;z-index: 1}
body .header-style-4 .header-bottom .minicart-header .quotation-wrapper .showcart .counter{right: -8px; top: -11px;}
body .header-style-17 .header-middle .middle-right-content .minicart-header .quotation-wrapper .showcart .counter{right: -6px;}
body .header-style-19 .header-middle .middle-right-content .minicart-header .showcart .counter{right: -5px;}
body .header-style-20 .header-middle .middle-right-content .minicart-header .quotation-wrapper .showcart .counter{right: -5px;}

body .header-container .header-middle .middle-right-content .minicart-header .quotation-wrapper .showcart .counter .counter-number,
body .header-container .header-bottom .minicart-header .quotation-wrapper .showcart .counter .counter-number,
body .header-container .header-middle .minicart-header .quotation-wrapper .showcart .counter .counter-number,
body .header-style-19 .header-middle .middle-right-content .minicart-header .quotation-wrapper .showcart .counter .counter-number{display: inline; color: #FFF !important;display: block!important;}

body .header-container .header-bottom .minicart-header .quotation-wrapper .showcart .text,
body .header-container .header-middle .minicart-header .quotation-wrapper .showcart .counter .counter-label,
body .header-container .header-middle .middle-right-content .minicart-header .quotation-wrapper .showcart .counter .counter-label,
body .header-style-19 .header-middle .middle-right-content .minicart-header .quotation-wrapper .showcart .counter .counter-label{display: none;}

body .header-style-4 .header-bottom .minicart-header .quotation-wrapper .showcart{padding: 0 15px 0 25px;}
body .header-style-19 .header-middle .middle-right-content .minicart-header .quotation-wrapper .showcart{padding-left: 33px;}
body .header-style-20 .header-middle .middle-right-content .minicart-header .quotation-wrapper .showcart{height: 52px; padding-left: 26px;}

body .header-style-9 .header-middle .minicart-header .quotation-wrapper{float: right; position: relative; margin-top: -14px; margin-right: 2px;}
.header-style-4 .quotation-wrapper{top: 0;}
.header-style-10 .quotation-wrapper{top: 0; left: 5px; position: relative;}
body .header-style-11 .header-middle .minicart-header .quotation-wrapper{top: -9px; position: relative;}
body .header-style-12 .header-middle .minicart-header .quotation-wrapper{position: relative; top: -9px;}
.header-style-14 .quotation-wrapper{top: 0; right: 185px; left: auto;}
.header-style-15 .quotation-wrapper{position: relative; top: 0;}
.header-style-20 .quotation-wrapper{top: 0; right: 164px; left: auto;}
body .header-style-19 .header-middle .middle-right-content .minicart-header .minicart-wrapper{top: 0;}

body .header-style-17 .header-middle .middle-right-content .minicart-header .quotation-wrapper{top: 0; left: 7px;}
body .header-style-18 .customer-action .quotation-wrapper{position: relative; top: 0; left: 0; margin-right: 20px;}
body .header-style-18 .customer-action .customer-header,
body .header-style-18 .customer-action .setting-header{margin-left: 25px;}

body .header-style-14 .quotation-wrapper .mage-dropdown-dialog,
body .header-style-19 .quotation-wrapper .mage-dropdown-dialog,
body .header-style-20 .quotation-wrapper .mage-dropdown-dialog{margin-top: 0;}
body .header-style-14 .header-middle .search-header{padding-right: 80px;}
body .header-style-18 .quotation-wrapper .mage-dropdown-dialog{margin-top: 6px; right: -21px;}
body .header-style-17 .quotation-wrapper .mage-dropdown-dialog{margin-top: 3px; right: -18px !important;}

body .header-style-14 .header-middle .minicart-header .quotation-wrapper .showcart{padding-left: 35px;}
body .header-style-14 .header-middle .minicart-header .quotation-wrapper .showcart .counter{line-height: 10px;}

body .header-style-10 .header-wrapper .right-content .minicart-header .quotation-wrapper .mage-dropdown-dialog{top: 17px;}
body .header-style-11 .header-middle .search-header{margin-right: 20px;}

@media screen and (max-width: 1199px) {
	body .header-style-2 .header-middle .middle-right-content .minicart-header{padding-left: 47px;}
}

@media screen and (max-width: 991px) {
	.quotation-wrapper{top: 0;}
	.quotation-wrapper .mage-dropdown-dialog{margin-top: 0;}
    body .header-style-1 .header-middle .middle-right-content .searchbox-header{padding-right: 90px;}
    body.footer-rtl-style .header-style-1 .header-middle .middle-right-content .searchbox-header{padding-right: 0; padding-left: 95px;}
    body .header-style-1 .header-middle .middle-right-content .minicart-header .quotation-wrapper{margin-right: 5px;}
    .footer-rtl-style .header-style-1 .quotation-wrapper{left: 5px; right: auto;}
    
    body .header-style-2 .searchbox-header{padding-right: 50px;}
    .header-style-2 .quotation-wrapper{left: 7px;}
    body .header-style-3 .header-bottom .searchbox-header{padding-right: 47px;}
    body .header-style-7 .header-middle .middle-right-content .searchbox-header,
    body .header-style-8 .header-middle .middle-right-content .searchbox-header{padding-right: 90px;}
    body .header-style-5 .quotation-wrapper{top: -14px}
    body .header-style-9 .header-middle .search-header,
    body .header-style-13 .header-bottom .search-header{padding-right: 42px;}
    body .header-style-9 .header-middle .minicart-header .quotation-wrapper{margin-top: 0px; margin-right: 10px;}
	body .header-style-10 .quotation-wrapper{left: 0;}
	body .header-style-11 .header-middle .search-header{padding-right: 39px;}
	body .header-style-11 .header-middle .minicart-header .quotation-wrapper{top: 5px; margin-right: 9px;}
	body .header-style-12 .header-middle .minicart-header .quotation-wrapper{top: 5px; margin-right: 11px;}
	body .header-style-12 .header-middle .search-header{padding-right: 41px;}
	body .header-style-14 .quotation-wrapper{right: 170px;}
	body .header-style-14 .header-middle .middle-content .header-middle-right .search-header{padding-right: 59px;}
}


@media only screen and (min-device-width: 319px) and (max-device-width: 780px ) {
    .quote-items .product .toggle > span {
        clip: auto;
        width: auto;
        height: auto;
        position: static;
    }
}

@media screen and (max-width: 768px) {
    .quotation-wrapper.active .block-quote {width: 320px;}
	.header-style-5 .quotation-wrapper{top: 0}
	body .header-style-14 .quotation-wrapper{right: 52px;}
	.header-style-20 .quotation-wrapper{right: 50px;}
	body .header-style-20 .header-middle .middle-right-content .minicart-header .quotation-wrapper .showcart{height: 44px;}
}

@media screen and (max-width: 639px) {
    .quotation-wrapper {margin-top: 10px; margin-left: 0;}
}
@media screen and (max-width: 480px) {
	body .header-style-4 .header-bottom .minicart-header .quotation-wrapper .showcart:after{
		content: "\e922";
		font-family: 'vnecoms-quote' !important;
		font-size: 19px;
	}
}
@media screen and (max-width: 479px) {
    .quotation-wrapper.active .block-quote {width: 290px;}
	body .header-style-4 .header-bottom .minicart-header .quotation-wrapper .showcart{padding: 0 10px 0 10px;}
}
@media screen and (max-width: 410px) {
	body .header-style-10 .header-top .language-currency{width: 40%;}
	body .header-style-10 .header-top .right-content{width: 60%;}
}

@media screen and (max-width: 370px) {
    .quotation-wrapper .block-quote{right: -12px;}
	.quotation-wrapper .block-quote:before{right: 30px;}
	.quotation-wrapper .block-quote:after{right: 29px;}
}

.product-item-actions .actions-primary {
    display: flex;
}
.products-grid .product-item-actions .actions-primary .category-link-addtoquote {
    display: inline-block;
    width: 38px;
    height: 38px;
    text-align: center;
    line-height: 36px;
    color: #999;
    border: 1px solid #e5e5e5;
    margin-left: 4px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    transition: 0.1s;
    -moz-transition: 0.1s;
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
}