.quote-actions button.toquote {font-size: 1.8rem; padding: 14px 17px; line-height: 2.2rem; width: auto;background-color: #eb5202; border-color: #eb5202;}
.quote-actions button.toquote:hover,
.quote-actions button.toquote:active,
.quote-actions button.toquote:focus{background-color: #ba4000; border-color: #b84002;}
.can-add-to-quote .quote-actions button.toquote span{display: none;}
.can-add-to-quote .product-add-form .box-tocart{padding-right: 50px; position: relative; height: 40px;}
.can-add-to-quote .product-info-main .product-add-form .box-tocart .fieldset .actions .toquote{position: absolute; top: 0; right: 0px; padding: 0 11px !important; height: 40px}
.can-add-to-quote .product-info-main .product-add-form .box-tocart .fieldset .actions .toquote:before{content: "\e922"; font-family: 'vnecoms-quote' !important; font-size: 19px; font-weight: 100;}