@font-face {
    font-family: 'ves-faq-font';
    src:    url('fonts/ves-faq-font.eot?53712y');
    src:    url('fonts/ves-faq-font.eot?53712y#iefix') format('embedded-opentype'),
    url('fonts/ves-faq-font.ttf?53712y') format('truetype'),
    url('fonts/ves-faq-font.woff?53712y') format('woff'),
    url('fonts/ves-faq-font.svg?53712y#ves-faq-font') format('svg');
    font-weight: normal;
    font-style: normal;
}




li {list-style-type: none}
em{color: red}
.page-title-wrapper{display: none}
.kbase-main.search,.kbase-main.kbase{
    width: 100%;
    float: left;
    margin: 10px 0;
}

.kbase-main-header h1{
    border-bottom: 1px solid #ededed;
    color: #636363;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.kbase-block-title{
    border: 1px solid #ededed;
    width: 100%;
    float: left;
}
.left{
    float: left;
    width: 20%;
}
.kbase-main.kbase ul.topic{
    width: 100%;
    float: left;
    padding: 0;
    border: 1px solid #c3cfd9;
    color: #535353;
}
.kbase-main.kbase ul.topic li{
    height: 32px;
    margin-bottom: 0;
    padding:0 20px;
    width: 84%;
    line-height: 32px;
}

.kbase-main.kbase ul.topic li a{
    border-bottom: 1px solid #eeeeee;
    float: left;
    margin: 0;
    width: 100%;
    color: #535353
}
.kbase-main.kbase ul.topic li:last-child a{
    border-bottom: none;
}
.kbase-main.kbase ul.topic li a:hover{
    color: #e74c3c;
}
.topic li a.active,.tag a.active{
    color: #e74c3c !important;
}
.tag {
    margin: 10px;
}
.tag a{
    border: 1px solid #dcdcdc;
    color: #535353;
    float: left;
    margin: 2px 2px 5px;
    padding: 3px;
}

.tag a:hover{color: #e74c3c}

a:hover{
    text-decoration: none;
}
.topic p{
    border-bottom: 1px solid #c3cfd9;
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    margin: 10px;

}
.faq-search{
    float: left;}
.faq-search h2{
    font-size: 20px;
    font-weight: 500;
    margin-top: 0;
}
#search_form{
    width: 670px;
    padding: 20px;
}
#search_form button[type="button"]{
    background-color: #e74c3c;
    border: 0 none;
    border-radius: 0;
    color: white;
    height: 38px;
    margin-top: 10px;
    width: 100px;
}
#search_form button[type="button"]:hover{
    background-color: #cc5043;
}
#search_form input[type="text"]{
    background-color: #f6f7f8;
    width: 670px;
}
#new-faq{
    border-left: 1px solid #eeeeee;
    float: left;
    margin-top: 40px;
    width: 500px;
    text-align: center;
}

.new-faq p{
    margin-top: 10px;
    color: #535353;
}

a.bt_submit:before{
    font-family: 'ves-faq-font' !important;
    content: '\f059';
    font-size: 14px;
}

a.bt_submit {
    clear: both;
    color: #e74c3c;
    height: 50px;
    margin-top: 10px;
    padding-left:15px;
    padding-right: 15px;
    text-decoration: none;
    border: 1px solid #e74c3c;
    display: inline-block;
}

a.bt_submit:hover{
    background-color: #f6f7f8;
}
a.bt_submit span{
    line-height: 50px;

}

.kbase-main.kbase h2{
    border-bottom: 1px solid #9b9b9b;
    color: #535353;
    font-size: 18px;
    font-weight: 600;
    margin: 8px 40px;
    padding-bottom: 5px;
}

.input-box{margin-top: 5px}
.field label,li label{font-weight: 600;}
.input-box.ves_field textarea{max-width: 450px ;}
.input-box select{width: 365px;}
.buttons-set{
    padding: 10px;
    border-top: 1px solid #c2c2c2;
}
.buttons-set button{
    height: 35px;
    float: right;
    width: 140px;
    border-radius: 0;
    border: 0 none;
    color: white;
    font-size: 13px;
    font-weight: 500;
    margin-left: 5px;
    background-color: #e74c3c;
    text-transform: uppercase;
}
.buttons-set button:hover{
    background-color: #cc5043;
}

.faq-content{
    border: 1px solid #c3cfd9;
    float: left;
    margin-left: 12px;
    padding: 5px;
    width: 78%;
    min-height: 240px;
    position: relative;

}
.title-faq{
    font-size: 17px;
    margin:8px 0 12px 10px;
    font-weight: bold;
}
#accordion{
    width: 100%;
    float: left;
    padding: 0;
    margin-bottom: 40px;
}
.faq-fade{
    background: #fff url("images/image_loading.gif") no-repeat scroll center;
    float: left;
    height: 100%;
    margin: -5px;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    z-index: 100;
}
.tag a.more{float: right;margin-top: 15px;border: none}
.tag a.more:hover{
    background: none;
    color: #e74c3c;
}
.accordion {
    color: #535353;
    margin: 0 10px;
}
.accordion > h3{
    font-size: 14px;
    font-weight: 500;
    margin-top: 0;
    cursor: pointer;
    margin-bottom: 10px;
}
.accordion > div {
    margin-bottom: 10px;
}
.accordion > h3:before{
    font-family: 'ves-faq-font';
    content: '\e900';
    font-size: 14px;
    color: #535353;
    margin-right: 10px;
}
.accordion > h3:hover:before,.accordion > h3:hover{
    color: #e74c3c;
}
.ui-accordion-content-active{
    border-left: 2px solid #9b9b9b;
    padding-left: 10px;
    margin-left: 23px;
    color: #9b9b9b;
}

.ui-state-active,.accordion > h3.ui-state-active:before{
    color: #e74c3c;
}
.no-item{color: #535353}
.check_category,.check_question,.check_recaptcha{
    display: none;
    color: red;
    font-weight: 300;
    margin-top: 4px;
}
@media only screen and (max-width: 767px) {
    .left{width: 100%}
    .faq-content{width: 100%;margin-left: 0px;}

    #search_form input[type="text"]{
        width: 100%;
    }

    #search_form input[type="text"]{
        background-color: #f6f7f8;
        width: 100%;
    }

    #new-faq{width: 100%}

}

