<?php
/**
 * Category view template
 *
 * @var $block \Vnecoms\VendorsVacation\Block\Vacation
 */
?>
<div id="vnecoms_vendorsvacation_container" class="container vacation-container">
    <div class="vacation-content">
        <?php echo $block->getMessage();?>
    </div>
</div>
