.header-top .toplinks-wrapper .header.links li.selleraccount-link a:before{
	content: '\f007';
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	font-synthesis: weight style;
	font-stretch: normal;
	font-size-adjust: none;
	font-language-override: normal;
	font-kerning: auto;
	font-feature-settings: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	font-size: 15px;
}

.header-style-1 .header-top .header-top-links .toplinks-wrapper .header.links li.selleraccount-link a:before,
.header-style-7 .header-top .header-top-links .toplinks-wrapper .header.links li.selleraccount-link a::before{position: absolute; left: 12px;top: 10px; }
.header-style-2 .header-top .header-top-links .toplinks-wrapper .header.links li.selleraccount-link a::before,
.header-style-3 .header-top .header-top-links .toplinks-wrapper .header.links li.selleraccount-link a::before{position: absolute; left: -18px; top: 11px; font-size: 13px;}
body .header-style-4 .header-top .header-top-links .toplinks-wrapper .header.links li.selleraccount-link{margin-left: 20px; padding-left: 20px}
.header-style-5 .header-top .toplinks-wrapper .header.links li.selleraccount-link a::before{position: absolute; left: -20px; top: 11px;}
.header-style-6 .header-top .header-top-links .toplinks-wrapper .header.links li.selleraccount-link a::before{position: absolute; left: -18px; top: 11px;}
.header-style-8 .header-top .header-top-links .toplinks-wrapper .header.links li.selleraccount-link a::before{position: absolute; left: 10px; top: 11px;}
.header-style-9 .header-top .header-top-links .toplinks-wrapper .header.links li.selleraccount-link a::before,
.header-style-11 .header-top .header-top-links .toplinks-wrapper .header.links li.selleraccount-link a::before,
.header-style-15 .header-top .header-top-links .toplinks-wrapper .header.links li.selleraccount-link a::before{position: absolute; left: -20px; top: 12px; font-size: 13px;}
.header-style-12 .header-top .header-top-links .toplinks-wrapper .header.links li.selleraccount-link a::before{position: absolute; left: -17px; top: 12px; font-size: 13px;}
.footer-rtl-style .header-style-1 .header-top .header-top-links .toplinks-wrapper .header.links li.selleraccount-link a::before{left: auto; right: 12px; top: 10px;}
.header-style-13 .header-top .header-top-links .toplinks-wrapper .header.links li.selleraccount-link a::before{position: absolute; left: -18px; top: 11px;}
.header-style-13 .credit-link{display: none;}
.header-style-14 .header-top .header-top-links .toplinks-wrapper .header.links li.selleraccount-link a::before{position: absolute; left: -17px; top: 12px; font-size: 13px;}
.header-style-16 .header-top .toplinks-wrapper .header.links li.selleraccount-link a::before{position: absolute; left: -20px; top: 14px;}
.header-style-17 .header-top .toplinks-wrapper .header.links li.selleraccount-link a::before{position: absolute; left: -20px; top: 14px;}
.header-20-style .credit-link{display: none;}

@media screen and (max-width: 991px) {
	.page-layout-2columns-left .col-right-main{float: none;}
}