<div class="admin__field" visible="visible" css="$data.additionalClasses">
    <label class="admin__field-label" if="$data.label" attr="for: uid">
        <span text="label" attr="'data-config-scope': $data.scopeLabel"/>
    </label>

    <div class="admin__field-control" css="'_with-tooltip': $data.tooltip">
        <div class="file-uploader" data-role="drop-zone" css="_loading: isLoading">
            <div class="file-uploader-area">
                <input type="file" afterRender="onElementRender" name="image"
                       attr="id: uid, multiple: isMultipleFiles" disable="disabled" />
                <label class="file-uploader-button action save btn-primary primary" attr="for: uid">
                	<i class="message-icon-attachment"></i> <span translate="'Add Attachment'"></span>
                </label>
                <span class="extensions-allowed" data-bind="html: $t('Allowed files: ') + getFileTypesAllowed()"></span>
                <span class="file-uploader-spinner"/>
                <render args="fallbackResetTpl" if="$data.showFallbackReset && $data.isDifferedFromDefault"/>
            </div>

            <render args="tooltipTpl" if="$data.tooltip"/>

            <div class="admin__field-note" if="$data.notice" attr="id: noticeId">
                <span html="notice"/>
            </div>

            <label class="admin__field-error" if="error" attr="for: uid" text="error"/>

            <each args="data: value, as: '$file'" render="$parent.getPreviewTmpl($file)"/>
        </div>
    </div>
</div>