.profile-sidebar .vendor-profile-badge-container{margin-top: 20px; padding-top: 20px; border-top: 1px solid #CCC;}
.vendor-profile-badge-container::after {clear: both;content: "";display: table;}
.vendor-profile-badge-container > img{float: left; margin: 5px;width: auto;}
.vendor-page .vendor-profile-top .vendor-profile-badge-container > img{width: auto;}
.vendor-profile-top .vendor-profile-badge-container:after{clear: both; content: ""; display: table;}
.catalog-product-view .vendor-profile-badge-container{border-top: 1px solid #CCC;}
.ui-tooltip, .arrow:after {background: #333;border: 2px solid white;}
.ui-tooltip {padding: 10px 20px;color: white;border-radius: 5px;box-shadow: 0 0 7px black;}
.arrow {width: 70px;height: 16px;overflow: hidden;position: absolute;left: 50%;margin-left: -35px;bottom: -16px;}
.arrow.top {top: -16px;bottom: auto;}
.arrow.left {left: 20%;}
.arrow:after {content: "";position: absolute;left: 20px;top: -20px;width: 25px;height: 25px;box-shadow: 6px 5px 9px -9px black;-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);}
.arrow.top:after {bottom: -20px;top: auto;}

@media (max-width: 481px) {
	.vendor-profile-badge-container{text-align: center;}
	.vendor-profile-badge-container > img{float: none;}
}
