.vendor-featured-product-container .vendor-featured-products{box-sizing: border-box;margin: 0 auto;max-width: 1280px;padding-left: 20px;padding-right: 20px;}
.vendor-featured-product-container .products{margin: 0 0 30px;}
.page-products .vendor-featured-product-container .products-grid .product-item{width: 25%; float: left; padding-left: 15px; paddding-right: 15px;}
.vendor-featured-products-title{display: none;}

@media screen and (max-width: 980px) {
  .page-products .vendor-featured-product-container .products-grid .product-item{width: 33.33333333%;}
}

@media screen and (max-width: 723px) {
  .page-products .vendor-featured-product-container .products-grid .product-item{width: 50%;}
}

@media screen and (max-width: 499px) {
  .page-products .vendor-featured-product-container .products-grid .product-item{width: 100%;}
}
