<?php
/**
 * Copyright © 2017 Vnecoms, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Vnecoms\Quotation\Block\Quote\Sidebar */
?>

<div data-block="quote" class="minicart-wrapper ves-quotation quotation-wrapper">
    <a class="action showcart showquote quote-icon-file-text" href="<?php /* @escapeNotVerified */ echo $block->getQuoteRequestPageUrl(); ?>"
       data-bind="scope: 'quote_content'"><span class="text"><?php /* @escapeNotVerified */ echo __('My Quote'); ?></span>
        <span class="counter qty empty"
              data-bind="css: { empty: !!getQuoteParam('summary_count') == false }, blockLoader: isLoading">
            <span class="counter-number"><!-- ko text: getQuoteParam('summary_count') --><!-- /ko --></span>
            <span class="counter-label">
                <!-- ko if: getQuoteParam('summary_count') -->
                    <!-- ko text: getQuoteParam('summary_count') --><!-- /ko -->
                    <!-- ko i18n: 'items' --><!-- /ko -->
                <!-- /ko -->
            </span>
        </span>
    </a>

    <div class="block block-quote empty"
         data-role="dropdownDialog"
         data-mage-init='{"dropdownDialog":{
            "appendTo":"[data-block=quote]",
            "triggerTarget":".showquote",
            "timeout": "2000",
            "closeOnMouseLeave": false,
            "closeOnEscape": true,
            "triggerClass":"active",
            "parentClass":"active",
            "buttons":[]}}'>
        <div id="quote-content-wrapper" data-bind="scope: 'quote_content'">
            <!-- ko template: getTemplate() --><!-- /ko -->
        </div>
    </div>
    
    <script>
        window.quotation = <?php /* @escapeNotVerified */ echo \Zend_Json::encode($block->getConfig()); ?>;
    </script>

    <script type="text/x-magento-init">
    {
        "[data-block='quote']": {
            "Magento_Ui/js/core/app": <?php /* @escapeNotVerified */ echo $block->getJsLayout();?>
        }
    }
    </script>
</div>
